<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <style>
        .table-wrapper {
            border: 1px solid var(--pico-muted-border-color);
            width: 25%;
            min-height: 55vh;
            max-height: 55vh;
            overflow-y: auto;
        }
        .button-row {
            display: flex;
            gap: 0.5rem;
        }
    </style>
</head>
<body>
    <main>
        <div class="table-wrapper">



                    <form method="post" action="">
                        {% csrf_token %}
                        {% for user in users %}
                            <button type="submit" name="username" value="{{ user }}">
                                {{ user }}
                            </button>
                        {% empty %}
                            User list is empty
                        {% endfor %}
                    </form>


        </div>
        <div class="button-row">
            <a href="{% url 'profile_create' %}">
                <button>Make new profile</button>
            </a>
        </div>
    </main>
</body>
</html>
